*.jar
*.class
*.iml
*.lst
*.log
/entities/target/
entities/target/classes/Entities/
/client/target/
/server/target/
/server/target/classes/
*/target/*
*.txt
server/target/surefire-reports/TEST-il.cshaifasweng.server.AppTest.xml
.idea/misc.xml
