*.jar
*.class
*.iml
*.lst
*.log
*.docx
/entities/target/
entities/target/classes/Entities/
/client/target/
/server/target/
/server/target/classes/
*/target/*
*.txt
*.DS_Store
server/target/surefire-reports/TEST-il.cshaifasweng.server.AppTest.xml
.idea/misc.xml
hibernate.properties
server/src/main/resources/hibernate.properties
